@import url('../index.css');

.device-hub-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 2rem;
    color: var(--title-text);
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }

  .left-section {
    flex: 2;
  }
  
  .right-section {
    flex: 2;
    align-self: flex-start;
    margin-top: 5rem;
  }
  
  .left-section h2 {
    font-size: 1.5rem;
    color: var(--purple);
    margin-bottom: 20px;
  }
  
  /* Styling for LeftPanel (Stat + Management) */
  .statistic {
    position: relative;
    background-color: var(--white);
    padding: 20px;
    padding-top: 0;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-height: 200px;
  }
  
  .statistic h3 {
    margin-bottom: 15px;
    font-size: 1.25rem;
  }
  
  .chart-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .statistic-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .range-dropdown {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--gray);
    background-color: var(--white);
    color: var(--dark-text);
    cursor: pointer;
    font: inherit;
  }

  /* Styling for RightPanel (Info section) */
  .info-section, .additional-info {
    background-color: var(--white);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .info-section {
    text-align: left;
  }
  
  .info-section h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    text-align: center;
  }
  
  .info-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .info-section li {
    margin: 5px 0;
    border:  1px solid #EFF0F4;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .info-section li span {
    font-weight: bold;
  }
  
  /* Responsive Design */
  @media (max-width: 1200px) {
    .content {
      gap: 10px;
    }
  
    .left-section {
      flex: 2;
    }
  
    .right-section {
      flex: 1.5;
    }
  }
  
  @media (max-width: 992px) {
    .content {
      flex-direction: column;
    }
  
    .right-section {
      margin-top: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.5rem;
    }
  
    .left-section h2 {
      font-size: 1.25rem;
    }
  }
  
  @media (max-width: 480px) {
    .header {
      text-align: left;
    }
  
    .content {
      padding: 10px;
    }
  
    .statistic, .right-panel {
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .statistic h3, .info-section h3, .additional-info h3 {
      font-size: 1rem;
    }
  }