.navi-p-active{
    color: var(--purple);
  
   }

.navi-p-inactive{
    color: white;
  
}
.device-h3{
    margin-left: 20px;
}

.device-container{
    color: #000;
}

.device-card{
    display: flex;
    align-items: center;
}
.device-info{
    background-color: #f7f8fA;
    border:  1px solid #EFF0F4;
    border-radius: 10px;
    padding-left: 25px;
}

.device-card h4{
    flex: 1; 
    padding-left: 10px;
}
.device-card:hover{
    background-color: #f0f0f0;
}

.device-card p{
    flex: 2; 
    padding-left: 35px;
    font-size: 15px;
}

/* .card-info{
    margin-left: -78px;
} */


.device-button{
    margin-left: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
    text-align: center;
}

.device-button:hover{
    background-color: #6a5acd;
}

.add-device-button {
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--purple);
    color: white;
    border: none;
}

.add-device-button:hover{
    background-color: #6a5acd;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    align-items: center;
}