.h2-title{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 700;
    color: var(--title-text);
    margin-top: 0;
    margin-bottom: 0;
}
.line{
    border: 1.8px solid #e1e1e1;
    width: 155vh;
    margin-left: 15px;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    padding: 10px;
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 40px;
}


.home-intro{
    background-color: #F7F9Fc;
    width: 750px;
    height: 480px;
    margin-right: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
   

}
.home-text{
    color: var(--dark-text);
    width: 400px;
    padding-left: 20px;

}

.home-boxes {
    margin-top: 140px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 10px; /* Optional: space between the boxes */
   
  }
  
  .box {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    width: 120px;
    height: 120px;
  }

  .home-img1{
    position: fixed;
    width: 150px;
    right: 190px;
    top: 250px;
  }

  .home-img2{
    position: fixed;
    width: 200px;
    right: 180px;
    top: 190px;
  }

  .home-iconi{
    width: 40px;
    height: 40px;
    background-color: #39DE54;
    border-radius: 10px;
  }

  .home-star{
    margin-top: 11px;
  }

  .box p {
    font-size: 15px;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    color: var(--dark-text);
  }

  .box:hover {
    background-color: #f7f8fA;
  }

  .star1{
    background-color: #39DE54;
  }

  .star2{
    background-color: #01D1FA;
  }

  .star3{
    background-color: #9a6ce8;
  }

  .star4{
    background-color: #FFC90E;
  }
  .home-dots{
    position: absolute;
    margin-top: -30px;
    margin-left: 40px;
  }
  
