.h2-title{
    padding-top: 10px;
    padding-left: 15px;
    font-size: 30px;
    font-weight: 700;
    color: var(--title-text);
    margin-top: 0;
    margin-bottom: 0;
}
.line{
    border: 1.8px solid #e1e1e1;
    width: 155vh;
    margin-left: 15px;
}

.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 10px;
    padding: 10px;
    margin-right: 25px;
    margin-left: 10px;
    margin-top: 40px;
}


.home-intro{
    background-color: #F7F9Fc;
    width: 750px;
    height: 480px;
    margin-right: 10px;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    background-image: url('/src/assets/nokia-logo.png');
    background-repeat: no-repeat;
    background-size: 200px;
}

.home-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, 1fr);    /* 2 rows */
    gap: 20px; /* Optional: space between the boxes */
   
  }
  
  .box {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid #f7f7f7;
    border-radius: 30px;
  }
  