.layout {
    display: flex;
    min-height: 100vh;
  }


/* Sidebar */
  
header {
    align-self: flex-start;
    min-width: 20vh;
    color: white;
    padding-inline-start: 0px;
    margin-top: 45px;
    margin-left: -50px;
}
  .navit ul{
    padding-inline-start: 0px !important;
  }

  .navi {
    list-style: none;
    text-decoration: none;
    padding: 0;
    color: white;
  }

  .navi a {
    color: white;
    text-decoration: none;
    display: block;
  }

  .navi-overview {
    color: #101010!important;
    text-decoration: none;
    display: none;
  }



svg{
  margin-left: -45px;
  margin-bottom: -4px;
  padding-right: 20px;
}

.navbar{
  width: 60vh;
  height: 6vh;
  background-color: white;
  border-radius: 30px;
  margin-left: -60px;
  margin-top: -122px;
  transition: transform 0.3s ease-in-out;
}

.navi-p-active {
  position: relative;
  z-index: 10; 
  color: var(--purple);
}

.navi-p-icon-H{
  stroke: var(--purple);
}

.navi-p-icon-D{
  fill: var(--purple);
}

.navi-p-icon-DO{
  fill: var(--purple);
}

.navbar.home {
  transform: translateY(-55px);
  color: var(--purple);
}

.navbar.devices {
  transform: translateY(0px);
}

.navbar.login {
  transform: translateY(0);
}

.navbar.data {
  transform: translateY(55px);
}


/*navbar icons*/
.top-nav{
  position: absolute;
  /*margin-left: 275px;*/
  left: 39vh;
  top: -3.3vh;
}

.bottom-nav{
  position: absolute;
  left: 39vh;
  bottom: -2.7vh;
}

/* Main page */
.mainpage {
    color: var(--dark-text);
    margin-right: -100px;
    margin-top: 5px;
    padding: 20px;
    background-color: #f4f4f4;
    flex-grow: 1;
    align-content: flex-end;
    display: flex;
    background-color: white;
    border-radius: 30px;
    width: 300vh;
    height: 85vh;
    z-index: 11;
    overflow-y: scroll;
}
  
  body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navi{
    display: flex;
    justify-content:flex-start;
  }

.footer{
    margin-top: -100px;
    margin-left: -60px;
}
  
