@import url('../index.css');

/* Centering Wrapper */
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--background);
}

/* Main Login Container */
.login-container {
  display: flex;
  flex-direction: row;
  width: 70vw; 
  max-width: 1440px;
  min-width: 800px;
  background-color: var(--background);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Back Button */
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--white);
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Login Left Section */
.login-left {
  position: relative;
  width: 50%;
  background-image: url('../assets/placeholderImage.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 15px 0 0 15px;
}

/* Login Right Section */
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 0 15px 15px 0;
  padding: 2vw 1vw 2vw 1vw;
}

/* Login Form Container */
.login-form-container {
  width: 85%;
  text-align: center;
  font-size: calc(1rem + 0.4vw); 
}

/* Text and Button Styling */
.h2-login {
  font-size: calc(1.4rem + 0.5vw);
  color: var(--title-text);
  margin: 0.5rem;
}

.p-login {
  color: var(--dark-text);
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: calc(1rem + 0.3vw);
}

label {
  display: block;
  text-align: left;
  font-size: calc(0.9rem + 0.3vw);
  color: var(--dark-text);
  margin-bottom: 0.3rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: calc(0.3rem + 0.3vw);
  margin-bottom: 1.2rem;
  border: 1px solid var(--dark-text);
  border-radius: 8px;
  font-size: calc(1rem + 0.4vw);
  outline: none;
  background-color: var(--white);
  color: var(--dark-text);
  font: inherit;
}

input::placeholder {
  color: var(--light-text);
  font-size: calc(0.9rem + 0.3vw);
}

.loginButton {
  width: 100%;
  padding: calc(0.7rem + 0.4vw);
  background-color: var(--purple);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: calc(1.1rem + 0.4vw);
  cursor: pointer;
  margin-top: 1rem;
}

.loginButton:hover {
  background-color: var(--dark-text);
}

/* Spinner Animation */
.loginbutton .spinner {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top: 2px solid var(--white);
  border-radius: 50%;
  width: calc(16px + 0.3vw);
  height: calc(16px + 0.3vw);
  animation: spin 0.8s linear infinite;
  display: inline-block;
}
