@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("./assets/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --purple: #5459ea;
  --background: #101010;
  --light-text: #9fa2b4;
  --dark-text: #192a3e;
  --title-text: #2e3a59;
  --white: #ffffff;
  --red: #ef4444;
}

a {
  font-weight: 500;
  color: var(--purple);
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.01em 3em;
  margin: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c5c5c5;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: var(--purple);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
